$site-background: ghostwhite;
$elements-background: #f9f9f9;

$primary: #1565c0;
$secondary: #d5d5fd;

$error: red;
$valid: green;
$warning: #ff7300;
$black: #000000;

$disable-primary: #e3e3e3;
$disable-secondary: #bebebe;

