@import "src/styles/colors";

.right-alignment {
    margin-left: auto !important;
}

.left-alignment {
    margin-right: auto !important;
}

.color_error {
    color: $error;
}

.Mui-error {
    color: $error !important;
}

.hover-primary {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}
